################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webapp1/.vs/Webapp1
/Webapp1/Webapp1/obj
